.product-card{
    border: 2px solid black;
    padding: 10px;
    width: 350px;
   margin: 20px;
    height: auto;
    
}
.main-container{
    display: inline-flex;
   flex-wrap: wrap;
   margin-left: 80px;


}